@using BootstrapSupport
@using NHibernate.Criterion
@using MiniDropbox.Web.Models
@model List<MiniDropbox.Web.Models.ActividadesModel>

@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}
<div style="text-align: right">
    @using (@Html.BeginForm("SearchActivity", "Bitacora"))
        {
            <input type="text" id="searchTxt" name="searchTxt" class="input-medium inline search-query"/>
            <button class="btn btn-inverse btn-small" type="submit">Buscar</button>       
        }
    @Html.ActionLink("Limpiar Historial","CleanActivity", "Bitacora", new {@class = "btn btn-small"})
    @Html.ActionLink("Volver", "Volver", "Bitacora", new { @class = "btn btn-small btn-primary" })
</div>



<h4>Actividades</h4>
<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            @foreach (var property in Model[0].VisibleProperties())
                 {
                     <th>
                    
                         @property.GetLabel().ToSeparatedWords()
                     </th>
                 }
            
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var model in Model)
    {
        ViewData[index.ToString()] = model;
        <tr>
            @foreach (var property in model.VisibleProperties())
            {
                <td>
                   
                       @Html.Display(index + "." + property.Name)
                    
                   
                </td>                    
            }
            
        </tr>
            index++;
    }

</table>
<p>
    
    </p>


